{% extends 'layout.html.twig' %}
    {% block body %}
    {{ parent() }}
        <div class="main container">
            <div class="row well">
                <div class="col-md-6">
                    <div class="page-header">
                        <h2>Nuevo Usuario</h2>
                    </div>
                    {{ form_start(form, { 'attr' : {  'role' : 'form'} }) }}
                     {#  <fieldset>   #}
                        {#  nombre de usuarios #}
                            <div class="form-group">
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username, { 'attr' : {'class' : ' form-control', 'placeholder'
                                                                        : 'Ingrese su nombre de usuario' } }) }}
                            <spam class="text-danger">{{ form_errors(form.username) }}</span>
                        </div>

                        {#  nombre #}
                            <div class="form-group">
                                {{ form_label(form.nombre) }}
                                {{ form_widget(form.nombre, { 'attr' : {'class' : ' form-control', 'placeholder'
                                                                        : 'Ingrese su nombre ' } }) }}
                            <spam class="text-danger">{{ form_errors(form.nombre) }}</span>
                        </div>

                        {#  apellido #}
                            <div class="form-group">
                                {{ form_label(form.apellido) }}
                                {{ form_widget(form.apellido, { 'attr' : {'class' : ' form-control', 'placeholder'
                                                                        : 'Ingrese su apellido ' } }) }}
                            <spam class="text-danger">{{ form_errors(form.apellido) }}</span>
                        </div>

                            {#  email #}
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'attr' : {'class' : ' form-control', 'placeholder'
                                                                        : 'Ingrese su correo electronico ' } }) }}
                            <spam class="text-danger">{{ form_errors(form.email) }}</span>
                        </div>

                        {#  password #}
                            <div class="form-group">
                                {{ form_label(form.password) }}
                                {{ form_widget(form.password, { 'attr' : {'class' : ' form-control', 'placeholder'
                                                                        : 'Ingrese una contrasenia ' } }) }}
                            <spam class="text-danger">{{ form_errors(form.password) }}</span>
                        </div>

                            {#  role #}
                            <div class="form-group">
                                {{ form_label(form.role) }}
                                {{ form_widget(form.role, { 'attr' : {'class' : ' form-control', 'placeholder'
                                                                        : 'Ingrese su rol ' } }) }}
                            <spam class="text-danger">{{ form_errors(form.role) }}</span>
                        </div>

                            {#  active #}
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.isActive) }} Active
                                    <spam class="text-danger">{{ form_errors(form.isActive) }}</span>
                                </label>
                        </div>
                    </fieldset>
                        <p>
                            {{ form_widget(form.save, {'label' : 'Create user', 'attr': {'class': 'btn btn-success' } }) }}                       
                        </p>
                    {{ form_end (form)}}
                </div>
            </div>
        </div>
{% endblock %}