{% extends 'layout.html.twig' %}

{% block body %}
{{ parent() }}
<div class="container">
    <div class="col-md-12"> 
    <br>
            <div class="page-header margin-none">
                 <h2 class="padding-none">Usuarios</h2>
            </div>
            <br>
            <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>

                                    <th>Usuario</th>
                                    <th>Nombre </th>
                                    <th>Apellido </th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Actulizaciones</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                                <tbodoy>
                                        {% for user in users %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.nombre }}</td>
                                        <td>{{ user.apellido}}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.role == 'ROLE_ADMIN' %}
                                                <strong>Administrador</strong>
                                                {% elseif user.role == 'ROLE_USER' %}
                                                <strong>User</strong>
                                                {% endif %}
                                        </td>
                                        <td>{{ user.createdAt|date('d-m-Y H:i') }} </td>
                                        <td>{{ user.updatedAt|date('d-m-Y H:i') }} </td>
                                        <td class="actions">
                                            <a class="btn btn-sm btn-info" href="#">view</a>
                                            <a class="btn btn-sm btn-primary" href="#">Edit</a>
                                            <a class="btn btn-sm btn-danger" href="#">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbodoy>
                                
                    </table>
            </div>
        
    </div>
    
</div>


{% endblock %}