<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Asignacion de tareas!!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     {#  <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> #}
      {# <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('emm_user_index')}} ">lista de Usuarios</a>
          <a class="dropdown-item" href="{{ path('emm_user_add')}} ">Registar Usuarios</a>
          {# <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> #}
        </div>
      </li>
      {# <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> #}
    </ul>
    {# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> #}
  </div>
</nav>