{% extends 'layout.html.twig' %}
{% block body %}
   {{ parent() }}
    <div id="wrapper">
        <div id="container">
            <div class="col-md-12"> 
            <br>
            <br>
            <br>
                <h1  class="text-center">Bienvenidos </h1>
                <h1 class="text-center"> Al Sistema de Asignación de Tareas...</h1>
                </div>
            
        </div>
    </div>
{% endblock %}


